<div ng-if="$state.current.name == 'novedades'" id="novedades">
    <div class="row bg-white">
        <div class="container listado-novedades">
            <div class="col-sm-12 col-xs-12" ng-repeat="otra in vm.otras_noticias">
                <a ui-sref="novedades.detalle({data: otra , id:otra.id})">
                    <div class="col-sm-4 col-xs-12 pic">
                        <div class="img" style="background-image: url('{{otra.foto.source_url}}')">
                        </div>
                    </div>
                    <div class="col-sm-8 col-xs-12 detalle">
                        <h2>{{otra.title.rendered}}</h2>
                        <p ng-bind-html="otra['wpcf-encabezado'] | to_trust "></p>
                    </div>
                </a>
            </div>
            <div class="col-sm-12 col-xs-12" ng-if="vm.totalItems > 4">
                <!-- Paginador -->
                <ul
                    uib-pagination
                    boundary-links=true
                    total-items="vm.totalItems"
                    items-per-page="vm.itemsPerPage"
                    ng-model="vm.currentPage"
                    ng-change="vm.pageChanged()"
                    boundary-links="true"
                    previous-text="&lsaquo;"
                    next-text="&rsaquo;"
                    first-text="&laquo;"
                    last-text="&raquo;"
                >
                </ul>
            </div>
        </div>
    </div>
</div>
