*.log
.gitignore
application/
assets/
bkp/
chat/
firma-digital/
imgs/
index.php
lp/
system/
wp-activate.php
wp-admin/
wp-content/upgrade/
wp-cron.php
wp-includes/
wp-links-opml.php
wp-load.php
wp-login.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
xmlrpc.php
wp-blog-header.php
wp-comments-post.php
wp-config-sample.php
wp-content/plugins/akismet/class.akismet-cli.php
wp-config.php
wp-content/index.php
wp-content/themes/twentysixteen/
wp-content/themes/twentyfourteen/
wp-content/themes/twentyfifteen/
wp-content/themes/wp-angular/node_modules/
