<!-- Elemento padre -->
<div class="bg-bordo">
  <div class="container">
    <div ui-view='title'>
      <h1 class="title">{{vm.title_view}}</h1>
    </div>
  </div>
</div>
<div class="bg-white">
  <div class="container">
    <div ng-if="$state.current.name == 'alquileres' || $state.current.name == 'ventas'"> <!-- Revisar -->
      <div class="col-sm-12 col-xs-12 propiedades">
        <div ng-show="vm.spinner" class="spinner" ng-if="!vm.properties"><i class="fa fa-spinner fa-spin"></i></div>
        <div ng-if="vm.error">{{vm.error}}</div>
        <div class="col-md-3 card" ng-repeat="propiedad in vm.properties" ng-class-odd="'odd'">
          <div ng-if="vm.properties" class="inner-card">
            <a ui-sref="propiedades.detalle({data: propiedad , id:propiedad.id})" class="thumb">
              <h2>{{propiedad.fake_address}}</h2>
              <div class="pic" style="background-image: url('{{propiedad.photos[0].image}}')"></div></a>
              <div class="dire">
                <i class="typcn typcn-location-outline"></i>
                <p>{{propiedad.location.short_location}}</p>
              </div>
              <div class="dire">
                <i class="typcn typcn-home-outline"></i>
                <p>{{propiedad.type.name}}</p>
              </div>
              <uib-tabset vertical="false" type="pills" active="-1" class="prop-contacto">
                <uib-tab ng-repeat="tab in vm.tabsContacto" heading="{{tab.titulo}}" classes="{{tab.type}}">
                  <uib-tab-heading>
                    <div ng-if="!tab.isLink">
                      <a href="{{tab.href}}">
                        <i class="{{tab.icon}}"></i>
                      </a>
                    </div>
                    <div ng-if="tab.isLink">
                      <a ui-sref="propiedades.detalle({data: propiedad , id:propiedad.id})">
                        <i class="{{tab.icon}}"></i>
                      </a>
                    </div>
                  </uib-tab-heading>
                  <div class="control-group" ng-if="!tab.isLink">
                    <label class="">
                      {{tab.text}}
                    </label>
                  </div>
                </uib-tab>
              </uib-tabset>
            </div>
          </div>
          <div class="col-sm-12 col-xs-12 paginador">
            <ul uib-pagination boundary-links = true
            total-items = "vm.totalItems" items-per-page = "vm.itemsPerPage"
            ng-model="vm.currentPage" ng-change="vm.pageChanged()" boundary-links="true"
            previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;"
            last-text="&raquo;" >
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div ui-view="detalle"/>
