<!-- Elemento padre -->
<div class="bg-bordo">
  <div class="container">
    <div ui-view='title'>
      <h1 class="title">{{vm.title_view}}</h1>
    </div>
  </div>
</div>
<div ncy-breadcrumb ncy-breadcrumb-text-separator=" > "></div>
<div class="bg-white">
  <div class="container">
    <div ng-if="$state.current.name == 'alquileres' || $state.current.name == 'ventas'">
      <!-- Revisar -->
      <div class="col-sm-12 col-xs-12 propiedades">
        <div ng-show="vm.spinner" class="spinner" ng-if="!vm.properties"><i class="fa fa-spinner fa-spin"></i></div>
        <div ng-if="vm.error">{{vm.error}}</div>
        <div class="alert alert-info">
          <h2>Filtros Aplicados:</h2>
          <p>Sort Type: {{ vm.sortType }}</p>
          <div class="row">
            <div class="col-sm-4 col-xs-6 step step-list">
              <div class="checkbox checkbox-primary" ng-repeat="tipo_propiedad in vm.property_types">
                <input type="checkbox" id="{{tipo_propiedad.name + tipo_propiedad.id}}" ng-change="vm.unchecked()" ng-model="vm.property_types_selected[tipo_propiedad.id]">
                <label for="{{tipo_propiedad.name + tipo_propiedad.id}}" name="{{tipo_propiedad.name}}"><span  ng-class="{ 'active': vm.operation_types[0] ||  vm.operation_types[1] }" >{{tipo_propiedad.name}}</span></label>
              </div>
            </div>
            <div class="col-sm-4 col-xs-6 step step-list">
              <div class="checkbox checkbox-primary" ng-repeat="dormitorio in vm.suite_amount">
                <input type="checkbox" id="{{dormitorio.name + dormitorio.id}}+do" ng-change="vm.unchecked()" ng-model="vm.suite_amount_selected[dormitorio.id]">
                <label for="{{dormitorio.name + dormitorio.id}}+do" name="{{dormitorio.name}}"><span>{{dormitorio.name}}</span></label>
              </div>
            </div>
            <div class="col-sm-4 col-xs-3 step step-list">
              <div class="checkbox checkbox-primary" ng-repeat="atributo in vm.attEspeciales">
                <input type="checkbox" id="{{atributo.name + atributo.id}}" ng-change="vm.unchecked()" ng-model="vm.attEspeciales_selected[atributo.id]">
                <label for="{{atributo.name + atributo.id}}" name="{{atributo.name}}"><span  ng-class="" >{{atributo.name}}</span></label>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 card" ng-repeat="propiedad in vm.allProperties | itemsPerPage: 10" ng-class-odd="'odd'">
          <div ng-if="vm.properties" class="inner-card">
            <a ui-sref="propiedades.detalle({data: propiedad , id: propiedad.id})" class="thumb">
              <h2>{{propiedad.fake_address}}</h2>
              <div class="pic" style="background-image: url('{{propiedad.photos[0].image}}')"></div>
            </a>
            <div class="dire">
              <div ng-if="propiedad.zona && propiedad.barrio">
                <i class="typcn typcn-location-outline"></i>
                <p>{{propiedad.zona}} | {{propiedad.barrio}}</p>
              </div>
              <div ng-if="!propiedad.zona">
                <i class="typcn typcn-location-outline"></i>
                <p>{{propiedad.barrio}}</p>
              </div>
            </div>
            <div class="dire">
              <i class="typcn typcn-home-outline"></i>
              <p>{{propiedad.type.name}}</p>
            </div>
            <uib-tabset vertical="false" type="pills" active="-1" class="prop-contacto">
              <uib-tab ng-repeat="tab in vm.tabsContacto" heading="{{tab.titulo}}" classes="{{tab.type}}">
                <uib-tab-heading>
                  <div ng-if="!tab.isLink">
                    <a href="{{tab.href}}">
                      <i class="{{tab.icon}}"></i>
                    </a>
                  </div>
                  <div ng-if="tab.isLink">
                    <a ui-sref="propiedades.detalle({data: propiedad , id:propiedad.id})">
                      <i class="{{tab.icon}}"></i>
                    </a>
                  </div>
                </uib-tab-heading>
                <div class="control-group" ng-if="!tab.isLink">
                  <label class="">
                      {{tab.text}}
                    </label>
                </div>
              </uib-tab>
            </uib-tabset>
          </div>
        </div>
        <div class="col-sm-12 col-xs-12 paginador">
          <ul uib-pagination total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.currentPage" ng-change="vm.pageChanged()" boundary-links="true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div ui-view="detalle" />
