<div class="row bg-red ng-scope">
    <div class="container">
        <div class="col-sm-12 col-xs-12 contact-section">
            <div class="col-sm-6 col-xs-6 map bg-red">
                <ng-map class="mapa" center="-31.4257817, -64.18351769999998" default-style="false">
                    <marker position="-31.4257817, -64.18351769999998"></marker>
                </ng-map>
            </div>
            <div class="col-sm-6 col-xs-6 bg-bordo" id="contacto">
                <h2><i class="typcn typcn-user"></i>Contacto</h2>
                <div id="jbsrur_contact_form"></div>
            </div>
        </div>
    </div>
</div>
