<!-- Coleccion de novedades en {{vm.novedades}} -->
<div class="row" id="novedades">
    <div class="col-sm-12 col-xs-12">
        <h1>Novedades</h1>
    </div>
    <div class="col-sm-12 col-xs-12 galeria" >
        <div uib-carousel active="active" ng-if="vm.slides">
            <div uib-slide ng-repeat="slide in vm.slides" active="active" index="$index">
                <div ng-repeat="novedad in slide">
                    <i class="{{ vm.iconos_format[novedad['wpcf-tipo-de-novedad']] }}"></i>
                    <h3>{{novedad.title.rendered}}</h3>
                    <img src="{{novedad.url}}"></img>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-xs-12">
        <h2>Destacados</h2>
    </div>
    <div class="col-sm-12 col-xs-12">
        <h2>Otros</h2>
    </div>
</div>
