<div id="quienes-somos">
    <div class="pic" style="background-image: url('{{vm.qSomos.image}}')">
    </div>
    <div class="row bg-red">
        <div class="container">
            <h2>
                {{vm.qSomos.title.rendered}}
            </h2>
        </div>
    </div>
    <div class="row bg-white">
        <div class="container">
            <p ng-bind-html="vm.qSomos.content.rendered | to_trust" class="content">
            </p>
        </div>
    </div>
    <div class="row bg-bordo">
        <div class="container valores">
            <div uib-carousel active="active" ng-if="vm.valores">
                <div uib-slide ng-repeat="valor in vm.valores" active="active" index="$index">
                    <div ng-bind-html="valor | to_trust" ></div>
                </div>
            </div>
        </div>
    </div>
    <!--
    <div class="col-sm-12 col-xs-12">
    <div uib-carousel active="active">
    <div uib-slide ng-repeat="" active="active" index="$index">
    <img ng-src="">
    </div>
    </div>
    </div>
    -->
    <!-- Issue #84: Por ahora no va la sección de las caras y cargos de cada uno.
    <div class="col-sm-12 col-xs-12 col">
        <h2>
            <div class="round-border">
                <i class="glyphicon glyphicon-home"></i>
            </div>
            MIEMBROS
        </h2>
    </div>

    <div class="col-sm-12 col-xs-12">
        <div class="col-md-3 col-sm-4 col-xs-12" ng-repeat="miembro in vm.miembros">
            <div class="pic_miembro" style="background-image: url('{{miembro.image}}')">
            </div>
            {{miembro.title.rendered}}
            <br/>
            {{miembro.content.rendered}}
            </div>
    </div>
    -->
</div>
