<div class="row" id="quienes-somos">
    <div class="col-sm-12 col-xs-12 pic" style="background-image: url('{{vm.qSomos.image}}')">
    </div>
    <div class="col-sm-12 col-xs-12 col">
        <h2>
            <div class="round-border">
                <i class="glyphicon glyphicon-home"></i>
            </div>
            Empresa
        </h2>
    </div>
    <div class="col-sm-12 col-xs-12">
        {{vm.qSomos.content.rendered}}
        <div id="qSomos_descripcion">
        </div>
    </div>
    <!--
    <div class="col-sm-12 col-xs-12">
    <div uib-carousel active="active">
    <div uib-slide ng-repeat="" active="active" index="$index">
    <img ng-src="">
</div>
</div>
</div>
-->
<!-- Issue #84: Por ahora no va la sección de las caras y cargos de cada uno.
<div class="col-sm-12 col-xs-12 col">
    <h2>
        <div class="round-border">
            <i class="glyphicon glyphicon-home"></i>
        </div>
        MIEMBROS
    </h2>
</div>

<div class="col-sm-12 col-xs-12">
    <div class="col-md-3 col-sm-4 col-xs-12" ng-repeat="miembro in vm.miembros">
        <div class="pic_miembro" style="background-image: url('{{miembro.image}}')">
        </div>
        {{miembro.title.rendered}}
        <br/>
        {{miembro.content.rendered}}
        </div>
</div>
-->
</div>
