<div class="bg-white ng-scope">
    <div class="container">
        <div class="col-sm-12 col-xs-12 sub-footer" id="suc-section">
            <div class="col-sm-12 col-xs-12 list">
                <div class="col-sm-4 col-xs-4 sucursal" ng-repeat="sucursal in vm.sucursales">
                    <div class="pic" style="background-image: url('{{sucursal.img}}')"></div></a>
                    <h3>{{sucursal.title.rendered}}</h3>
                </div>
            </div>
        </div>
    </div>
</div>
