<ul>
<!-- <div ng-controller="tokkoController as vm"> -->

<div id="exTab1" class="container">
<ul  class="nav nav-pills">
			<li class="active">
        <a data-target="#1a" data-toggle="tab">

          <div class="col-lg-6">
  <div class="input-group">
    <input type="text" class="form-control" placeholder="Search for...">
    <span class="input-group-btn">
      <button class="btn btn-default" type="button">Go!</button>
    </span>
  </div><!-- /input-group -->
</div><!-- /.col-lg-6 -->

        </a>
		</li>
		<li><a data-target="#2a" data-toggle="tab">
<i class="glyphicon glyphicon-home"> Busqueda Avanzada</i></a>
		</li>
		</ul>
		<div class="tab-content clearfix">
			  <div class="tab-pane active" id="1a">
			</div>
			<div class="tab-pane" id="2a">
        <div class="panel panel-default">
         <!-- Default panel contents -->
         <div class="panel-heading">{{vm.titleForm}}</div>
         <div class="panel-body">
          <p>{{vm.titleFrame}}</p>
          <div class="form-inline">

           <!-- TIPO DE OPERACION --------------------------------------------------->
           <!-- http://ngmodules.org/modules/angular-bootstrap-checkbox -->
           <div class="checkbox checkbox-primary">
           <label ng-repeat="operacion in vm.tokko_data.operaciones">
             <input type="checkbox"
               name="selectedOperacion[]"
               value="{{operacion.name}}"
               ng-model="operacion.state"
              />
              {{operacion.name}}
           </label>
           </div>
           </span>

           <!-- TIPO DE PROPIEDAD --------------------------------------------------->
           <select class="form-control" name="property_typeSelection" ng-model="vm.tokko_property_type.id" ng-selected="vm.tokko_property_type" ng-options="property_type.name for property_type in vm.tokko_property_type track by property_type.id">
           <option value="" disabled selected hidden>Tipo de Propiedad</option>
           </select>

           <!-- DORMITORIOS --------------------------------------------------->
           <select class="form-control" name="repeatSelect" id="repeatSelect" ng-model="vm.tokko_dormitorios.selected">
            <option value="" disabled selected hidden>Dormitorios</option>
            <option ng-repeat="dormitorio in vm.tokko_dormitorios"
                    value="{{dormitorio}}">{{dormitorio}}</option>
          </select>

          <!-- PROVINCIA --------------------------------------------------->
          <!--
          <select class="form-control" name="stateSelection" ng-model="vm.tokko_state.id" ng-selected="state" ng-options="state.name for state in vm.tokko_state track by state.id">
          <option value="" disabled selected hidden>Provincia</option>
          -->

          <!-- CIUDAD --------------------------------------------------->
          <!--
          </select>
          <select class="form-control" name="citySelect" ng-model="vm.ciudad" ng-selected="city" ng-change="vm.searchLocation()" ng-options="city.name for city in vm.tokko_state.id.divisions track by city.id">
          <option value="" disabled selected hidden>Ciudad</option>
          </select>
          -->

           <!-- ZONAS --------------------------------------------------->
           <select class="form-control" name="repeatSelect" id="repeatSelect" ng-model="vm.barriosXzona.id">
           <option value="" disabled selected hidden>Zonas</option>
           <option ng-repeat="zona in vm.barriosXzona"
                   value="{{zona.name}}">{{zona.name}}</option>
           </select>

           <div class="list-group" ng-model="vm.barriosXzona.id">
<div ng-repeat="zona in vm.barriosXzona">
              <!-- http://getbootstrap.com/css/#grid -->
             <a data-target={{zona.name}} class="list-group-item">{{zona.name}}</a>

           </div>
           </div>



           <!-- BARRIO --------------------------------------------------->
           <!--
           <select class="form-control" name="barrioSelect"
                   ng-model="vm.tokko_location.id"
                   ng-selected="barrio"
                   ng-options="barrio.name for barrio in vm.tokko_location track by barrio.id">
           <option value="" disabled selected hidden>Barrio</option>
           </select>
           -->
           <select class="form-control" name="repeatSelect" id="barrioSelect" ng-model="vm.barriosXzona.sel_barrio">
           <option value="" disabled selected hidden>Barrio</option>
           <option ng-repeat="barrio in vm.barriosXzona.id.barrios">
                   value="{{barrio.name}}">{{barrio.name}}</option>
           </select>
           <br>
           Selecciono:
           {{vm.barriosXzona.sel}}

           <!-- BUSQUEDA --------------------------------------------------->
           <input class="form-control" type="text" placeholder="Buscar x código" ng-model="vm.codigoPropiedad" />
           <button class="btn btn-default" ng-click="vm.searchTokko()">
           <span class="glyphicon glyphicon-search" aria-hidden="true"></span>Buscar</button>
           <!-- Resultado masivo -->


            <li class="list-group-item" ng-repeat="propiedad in vm.propiedades.objects">
             {{propiedad.public_url}}
             <!--
             <a href="" ng-click="vm.detallePropiedad()">
              <i class="glyphicon glyphicon-remove pull-right"></i>
             </a>
             -->
            </li>
           <!-- Resultado x codigo -->
           <!--
           <div class="row">
            <div class="col-sm-6 col-md-4">
             <div class="thumbnail">
              <div ng-show="{{vm.propiedad}} != null">

               <img ng-src="{{vm.propiedad.photos[0].image}}" class="thumbnail"> <br/>

               <ng-map center="{{vm.propiedad.geo_lat}}, {{vm.propiedad.geo_long}}" zoom="15" zoom-control="true" default-style="true">
                <marker position="[{{vm.propiedad.geo_lat}}, {{vm.propiedad.geo_long}}]" title="{{vm.propiedad.location.name}}" on-click="vm.showDetail()">
                </marker>
                <info-window id="foo-iw">
                 <div ng-non-bindable="">
                  name: {{vm.propiedad.real_address}}<br/>
                  <a href="#" ng-click="vm.clicked()">Click Here</a>
                 </div>
                </info-window>
               </ng-map>

               <div class="caption">
                <h3> {{vm.propiedad.address}} </h3>
                <p>{{vm.propiedad.real_address}} <br> {{vm.propiedad.type.name}}
                 <br> {{vm.propiedad.location.full_location}}
                 <br>

                 <a href="" ng-click="vm.detallePropiedad()">
                  <i class="glyphicon glyphicon-user pull-right">Contactar por email</i>
                 </a><br>
                 <a href="" ng-click="vm.detallePropiedad()">
                  <i class="glyphicon glyphicon-map-marker pull-right"> Ver en mapa</i>
                 </a>
               </div>
              </div>

             </div>

            </div>
           </div>
        -->
          </div>
          <!-- End div panel-heading       -->
         </div>
         <!-- End div panel panel-default -->




      </div>
		</div>
  </div>

<!-- <div ng-controller="tokkoController as vm"> -->


<!-- </div> -->
</ul>
