<div class="row detalle" ng-if="vm.propiedad">
    <div class="col-sm-12 col-xs-12 col">

        <h1>
            <div class="round-border">
                <i class="glyphicon glyphicon-home"></i>
            </div>
            {{vm.propiedad.fake_address}}
        </h1>

    </div>
    <div class="col-sm-12 col-xs-12">
        <div class="col-sm-6 col-xs-12 galeria">
            <div uib-carousel active="active" ng-if="vm.propiedad.photos">
                <div uib-slide ng-repeat="photo in vm.propiedad.photos" active="active" index="$index">
                    <img ng-src="{{photo.image}}">
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xs-12">
            <ng-map class="mapa" center="[{{vm.propiedad.geo_lat}}, {{vm.propiedad.geo_long}}]">
                <marker position="{{vm.propiedad.geo_lat}}, {{vm.propiedad.geo_long}}"></marker>
            </ng-map>
        </div>
    </div>
    <div class="col-sm-12 col-xs-12">
        <div class="col-sm-6 col-xs-12 descripcion">
            <h2> <i class="typcn typcn-clipboard"></i>Descripción de la propiedad</h2>
            <p>{{vm.propiedad.description}}</p>
        </div>
        <div class="col-sm-6 col-xs-12 contacto">
            <h2>Contacto</h2>
            <!-- @import: Contact Form 7 plugin  -->
            <div id="jbsrur_contact_form"></div>
        </div>
    </div>
    <div class="col-sm-12 col-xs-12">
        <div class="col-sm-6 col-xs-12 referencia">
            <span>Código de referencia: {{vm.propiedad.reference_code}}</span><br>
        </div>
        <div class="col-sm-6 col-xs-12 referencia">
            <span>Centro de atención: {{vm.propiedad.branch.name}} {{vm.propiedad.branch.phone}}</span><br>
        </div>
    </div>
    <div class="col-sm-12 col-xs-12">
        <h2>Principales características</h2>
    </div>
    <div class="col-sm-12 col-xs-12 caracteristicas">
        <div class="col-sm-3">
            <i class="typcn typcn-plus"></i>{{vm.propiedad.suite_amount}} Dormitorio/s
            <i class="typcn typcn-plus"></i>{{vm.propiedad.bathroom_amount}} Baño/s
        </div>
        <div class="col-sm-3" ng-repeat="tag in vm.propiedad.tags">
            <i class="typcn typcn-plus"></i>{{tag.name}}
        </div>
    </div>
</div>
