<div class="row">
    <div class="container" id="searchForm">
        <ul class="nav nav-pills">
            <li class="active col-md-6 search-tab global-search">
                <a data-target="#global-search" data-toggle="tab">
                    <div class="input-group">
                        <label>Buscar propiedades</label>
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                        </span>
                        <input type="text" class="form-control" placeholder="">
                    </div><!-- /input-group -->
                </a>
            </li>
            <li class="col-md-6 search-tab advanced-search">
                <a data-target="#advanced-search" data-toggle="tab">
                    <i class="glyphicon glyphicon-home"></i>
                    <label>Busqueda Avanzada</label>
                </a>
            </li>
        </ul>
    </div>
    <div class="tab-content clearfix">
        <div class="tab-pane active" id="global-search">
        </div>
        <div class="tab-pane" id="advanced-search">
            <div class="container">
                <div class="panel panel-default">
                    <!-- Default panel contents -->

                    <div class="panel-body">

                        <div class="form-inline">
                            <div class="row">
                                <div class="col-sm-6 col-xs-12">
                                    <div class="row">
                                        <div class="col-sm-4 col-xs-12 step step-checkbox">
                                            <!-- TIPO DE OPERACION --------------------------------------------------->
                                            <!-- vm.tokko_data.operaciones"> -->
                                            <div class="checkbox checkbox-primary" ng-repeat="operacion in vm.tokko_data.op">
                                                <input type="checkbox" id="{{operacion.name + operacion.id}}" ng-model="vm.operation_types[operacion.id]" ngChange="showTP = !showTP"/>
                                                <label for="{{operacion.name + operacion.id}}" name="{{operacion.name}}"><span></span> {{operacion.name}} </label>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 col-xs-6 step step-list" ng-if="showTP">
                                            <div class="checkbox checkbox-primary" ng-repeat="tipo_propiedad in vm.tokko_data.tp">
                                                <input type="checkbox" id="{{tipo_propiedad.name + tipo_propiedad.id}}"  ng-model="vm.property_types[tipo_propiedad.id]">
                                                <label for="{{tipo_propiedad.name + tipo_propiedad.id}}" name="{{tipo_propiedad.name}}"><span>{{tipo_propiedad.name}}</span></label>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 col-xs-6 step step-list">
                                            <div class="checkbox checkbox-primary" ng-repeat="dormitorio in vm.tokko_data.do">
                                                <input type="checkbox" id="{{dormitorio.name + dormitorio.id}}" ng-model="vm.suite_amount[dormitorio.id]">
                                                <label for="{{dormitorio.name + dormitorio.id}}" name="{{dormitorio.name}}"><span>{{dormitorio.name}}</span></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-xs-12 step step-tabs nobg" >
                                    <uib-tabset vertical="true" type="pills" >
                                        <uib-tab ng-repeat="zona in vm.barriosXzona" heading="{{zona.name}}">
                                            <div ng-if="!zona.hide">
                                                <div ng-repeat="barrio in zona.barrios" class="cb-pills">
                                                    <input type="checkbox" id="{{barrio.name + barrio.id}}"  ng-model="vm.localization_barrio_id[barrio.id]">
                                                    <label for="{{barrio.name + barrio.id}}" name="{{barrio.name}}"><span>{{barrio.name}}</span></label>
                                                </div>
                                            </div>
                                        </uib-tab>
                                    </uib-tabset>
                                        <!-- <div class="row" ng-repeat="zona in vm.barriosXzona">
                                        <div class="col-sm-4 col-xs-12 barrios">
                                            <ul class="nav nav-tabs nav-stacked">
                                                <li ng-class="{'active': zona.active}" data-target="#{{zona.id}}" data-toggle="tab">
                                                    <a>
                                                        {{zona.name}}
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-8 col-xs-12">
                                            <div class="tab-content">
                                                <div class="tab-pane"
                                                ng-class="{'active': zona.active}" id="{{zona.id}}" class="tab-pane fade in">
                                                <div ng-if="!zona.hide">
                                                    <div ng-repeat="barrio in zona.barrios">
                                                        <input type="checkbox"
                                                        ng-model="vm.localization_barrio_id[barrio.id]"
                                                        >{{barrio.name}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- BARRIO --------------------------------------------------->
                <!--
                <select class="form-control" name="barrioSelect"
                ng-model="vm.tokko_location.id"
                ng-selected="barrio"
                ng-options="barrio.name for barrio in vm.tokko_location track by barrio.id">
                <option value="" disabled selected hidden>Barrio</option>
            </select>

            <select class="form-control" name="repeatSelect" id="barrioSelect" ng-model="vm.barriosXzona.sel_barrio">
            <option value="" disabled selected hidden>Barrio</option>
            <option ng-repeat="barrio in vm.barriosXzona.id.barrios">
            value="{{barrio.name}}">{{barrio.name}}</option>
        </select>
        <br>
        Selecciono:
        {{vm.barriosXzona.sel}}


        <input class="form-control" type="text" placeholder="Buscar x código" ng-model="vm.codigoPropiedad" />
    -->
    <div class="row">
        <div class="col-sm-12 col-xs-12">
            <a class="btn btn-default" ng-click="vm.searchTokko()">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>Buscar</a>
            </div>
        </div>
        <div class="col-sm-12 col-xs-12">
            <!-- Resultado masivo -->
            <!--
            <li class="list-group-item" ng-repeat="propiedad in vm.propiedades.objects">
            {{propiedad.public_url}}
        </li>
    </div>
-->
</div>
<!-- End div panel-heading       -->
</div>
