<div class="detalle-emprendimiento" ng-if="vm.emprendimiento">
    <div class="row bg-white">
        <div class="container">
            <div class="col-sm-12 col-xs-12 col">
                <h1>
                    <div class="round-border">
                        <i class="glyphicon glyphicon-home"></i>
                    </div>
                    {{vm.emprendimiento.title.rendered}}
                </h1>
            </div>
        </div>
        <div class="col-sm-12 col-xs-12">
            <div class="pic" style="background-image: url('{{vm.emprendimiento.portada}}')"></div>
        </div>
    </div>
    <div class="row emp-detalle bg-grey">
        <div class="container">
            <div class="col-sm-12 col-xs-12">
                <div class="col-sm-6 col-xs-12">
                    <div class="col-sm-12 col-xs-12">
                        <ng-map class="mapa" center="[{{vm.emprendimiento.geo_lat}}, {{vm.emprendimiento.geo_long}}]">
                            <marker position="{{vm.emprendimiento.geo_lat}}, {{vm.emprendimiento.geo_long}}"></marker>
                        </ng-map>
                    </div>
                    <div class="col-sm-12 col-xs-12" id="contacto">
                        <h2><i class="typcn typcn-user"></i>Contacto</h2>
                        <!-- @import: Contact Form 7 plugin  -->
                        <div id="jbsrur_contact_form"></div>
                    </div>
                    <div class="col-sm-12 col-xs-12 referencia">
                        Código de referencia: {{vm.emprendimiento['wpcf-codigo-de-referencia']}}
                    </div>
                    <div class="col-sm-12 col-xs-12 referencia">
                        <div>Centro de atención: {{vm.emprendimiento.suc_nombre}} {{vm.emprendimiento.suc_telefo}}</div>
                    </div>
                </div>

                <div class="col-sm-6 col-xs-12 descripcion">
                    <h2>Descripción de propiedad</h2>
                    <p ng-bind-html="vm.emprendimiento.content.rendered | to_trust"></p>
                </div>
            </div>

            <div class="col-sm-12 col-xs-12">
                <h2><i class="typcn typcn-pin"></i>Galeria</h2>
                <div class="galeria col-sm-10 col-xs-10">
                    <div uib-carousel active="active" ng-if="vm.slides">
                        <div uib-slide ng-repeat="slide in vm.slides" active="active" index="$index">
                            <div ng-repeat="novedad in slide" class="col-sm-6 col-xs-6 new">
                                <div class="img" style="background-image: url('{{novedad.full}}')"></div>
                                <div class="caption">
                                    <h3>
                                        <i class="{{ vm.iconos_format[novedad['wpcf-tipo-de-novedad']] }}"></i>
                                        <div class="title">{{novedad.title.rendered}}</div>
                                    </h3>
                                    <p ng-bind-html="novedad['wpcf-encabezado'] | to_trust"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
